<%- include("../partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome To Indian Blogs Section!!
			</h1>
			<p>
				Stay connected to the latest happenings in India!
			</p>
		</div>
	</header>
	<div class="row text-center" style="display:flex ; flex-wrap: wrap;">	
<% blogs.forEach( function(blogs){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
		<img src="<%=blogs.image%>" style="border: 2px solid black; border-radius:10px; width:auto; height:200px" >	
		<div class="caption">
			<h3><%=blogs.name%></h3>
		</div>
			<a href="/main/blogs/india/<%=blogs._id%>" class="btn btn-primary">More info!</a>
		</div>
</div>

<%});%>
</div>
<%- include("../partials/footer") %>