<%- include("partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome To CodepthBlogs!!
			</h1>
			<p>
				Stay connected to the latest happenings in India and in the world!
			</p>
		</div>
	</header>
	<div class="row text-center" style="display:flex ; flex-wrap: wrap;">	
<% posts.forEach(function(posts){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
		<img src="<%=posts.image%>" style="border: 2px solid black; border-radius:10px; width:auto; height:200px" >	
		<div class="caption">
			<h3><%=posts.name%></h3>
		</div>
        <div>
            <h6 style="font-size:15px;">Posted on: <%=posts.date%></h6>
        </div>
			<a href="/main/<%=posts.type%>/<%=posts.filtertype%>/<%=posts._id%>" class="btn btn-primary">More info!</a>
		</div>
</div>

<%});%>
</div>
<%- include("partials/footer") %>